## etcd(1) daemon options
## See "/usr/share/doc/etcd/Documentation/configuration.md.gz".

### Member Flags

##### -name
## Human-readable name for this member.
## default: host name returned by `hostname`.
## This value is referenced as this node's own entries listed in the `-initial-cluster`
## flag (Ex: `default=http://localhost:2380` or `default=http://localhost:2380,default=http://localhost:7001`).
## This needs to match the key used in the flag if you're using [static boostrapping](clustering.md#static).
ETCD_NAME={{ ansible_hostname }}

##### -data-dir
## Path to the data directory.
ETCD_DATA_DIR="/var/lib/etcd/k8s"

##### -wal-dir
## Path to the dedicated wal directory. If this flag is set, etcd will write the
## WAL files to the walDir rather than the dataDir. This allows a dedicated disk
## to be used, and helps avoid io competition between logging and other IO operations.
## default: ""
# ETCD_WAL_DIR

##### -snapshot-count
## Number of committed transactions to trigger a snapshot to disk.
## default: "10000"
# ETCD_SNAPSHOT_COUNT="10000"

##### -heartbeat-interval
## Time (in milliseconds) of a heartbeat interval.
## default: "100"
# ETCD_HEARTBEAT_INTERVAL="100"
#

ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{ ansible_default_ipv4.address }}:2380
ETCD_LISTEN_PEER_URLS=https://{{ ansible_default_ipv4.address }}:2380
ETCD_LISTEN_CLIENT_URLS="https://{{ ansible_default_ipv4.address }}:2379,https://127.0.0.1:2379"
ETCD_INITIAL_CLUSTER="prodcontrol1=https://11.0.0.20:2380,prodcontrol2=https://11.0.0.21:2380,prodcontrol3=https://11.0.0.22:2380"
ETCD_ADVERTISE_CLIENT_URLS=https://{{ ansible_default_ipv4.address }}:2379
ETCD_INITIAL_CLUSTER_TOKEN=etcdk8s
#ETCD_AUTO_TLS=true
#ETCD_PEER_AUTO_TLS=true

ETCD_INITIAL_CLUSTER_STATE=new

ETCD_CERT_FILE=/var/lib/etcd/server.crt
ETCD_KEY_FILE=/var/lib/etcd/server.key
ETCD_CLIENT_CERT_AUTH=true
ETCD_TRUSTED_CA_FILE=/var/lib/etcd/ca.crt
ETCD_PEER_CERT_FILE=/var/lib/etcd/peer.crt
ETCD_PEER_KEY_FILE=/var/lib/etcd/peer.key
ETCD_PEER_CLIENT_CERT_AUTH=true
ETCD_PEER_TRUSTED_CA_FILE=/var/lib/etcd/ca.crt
